form, #statusWindow {
    background-color: var(--bg-primary);
    color: #FFF;
    padding: 3rem;
    position: fixed;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    user-select: none;
    border: none;
}

form {
    width: 25rem;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#statusWindow {
    width: 15rem;
    height: 5rem;
    top: 50%;
    transform: translateY(-50%);
}

#statusWindow>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#statusMessage {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

#statusWindow svg {
    width: 3rem;
    min-width: 2rem;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

form>* {
    margin-bottom: 0.5rem;
}

.buttonrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexitem {
    margin: 1rem;
}

.formtitle {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

form label {
    color: var(--text-primary);
    font-weight: bold;
    text-align: left;
}

form .buttonrow {
    display: flex;
    flex-direction: row;
    margin: auto;
}

form input, select {
    border: none;
    padding: 0.25rem;
    width: 20rem;
    margin: 0 auto 1rem;
}

form input {
    border-bottom: 0.3rem solid #fff;
    transition: 0.5s;
}

input:placeholder-shown {
    border-bottom: 0.3rem solid var(--color-red);
}

form textarea {
    padding: 0.25rem;
    width: 20rem;
    margin: 0 auto 1rem;
    resize: none;
    font-family: monospace;
}

textarea::-webkit-scrollbar {
    width: 0.25rem;
}

textarea::-webkit-scrollbar-track {
    background: #ffffff;
}

textarea::-webkit-scrollbar-thumb {
    background: black;
}

form .inline {
    width: 5rem;
}

form button {
    background-color: var(--bg-gray-primary);
    color: var(--text-primary);
    border: none;
    padding: 1rem;
    margin: 0 auto;
}

.disableItem {
    pointer-events: none;
    opacity: 0.7;
    filter: grayscale(100%);
}